NODE_ENV=development

# JWT
JWT_SECRET=supersecretjwtkey123
JWT_EXPIRES=1d

# DB
PGHOST=localhost
PGPORT=5432
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=npg_muYzH8V6ZSrv

# LIMITER
TIME_REMAINING=300000 # contoh: 15 * 60 * 1000 = 900000/15 Menit
MAX_ATTEMPT=3